# python
# 캐시 폴더 제외 : 실행 속도를 높이기 위해 자동으로 생성하는 디렉토리
__pycache__/
# 컴파일 파일 제외 : [cod]는 *.pyc, *pyo, *pyd 를 한 줄로 표현한 패턴
*.py[cod]
# Jython 컴파일 파일 제외
*$py.class
# 최적화 바이트 코드 제외
*.pyo
# Windows 파이썬 확장 모듈 (DLL과 유사)
*.pyd

# 가상환경
.venv/
venv/
.env
env/
ENV/

# 파이참
.idea/
.vscode/
*.iml

# 운영체제 임시 파일
.DS_Store
Thumbs.db

# 임시 실행 결과 파일들 : 로그
*.log
*.tmp
*.bak

# Jupyter 관련 파일
.ipynb_checkpoints/

# 실습중 자동 생성될 수 있는 데이터 파일
# 팀원간 필요시 개별적으로 주고 받기
*.csv
*.xlsx

# 학습된 모델 / 벡터 파일
# 대용량 파일은 깃허브에 올리지 않는다.
*.model
*.kv
*.vec
*.bin
*.gz
eng_w2v
*.npy
*.npz
*.pth

# matplotlib 등 실행 결과 이미지
*.png
*.jpg
*.jpeg
*.svg













